#Misc 
.directory

#Binarios
Cuantizar
HolaMundo
Presentacion

#Visual Studio Code
.vscode/*

#Archivos creados por LaTex
tex/presentacion.aux
tex/presentacion.log
tex/presentacion.nav
tex/presentacion.out
tex/presentacion.pdf
tex/presentacion.snm
tex/presentacion.synctex.gz
tex/presentacion.toc
tex/presentacion.vrb

#Videos
videos/*